/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

img {
    margin: 25px;
    cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.playButtons {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.competitor-choose {
    display: none;
}

.centerd {
    text-align: center;
}

button {
    margin: 10px;
}

input.form-control {
    width: 250px;
    display: inline;
}